<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="This is an example of a meta description.">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  </head>


  <body>
<!-- Шапка сайта  -->
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="me-2" viewBox="0 0 200 200" role="img"><title>chekavo production</title><path fill-rule="evenodd" clip-rule="evenodd" d="M52.5,-14.2C59.6,4.7,51,31.6,34.2,42.8C17.4,53.9,-7.6,49.4,-29.6,34.8C-51.7,20.2,-70.7,-4.5,-65.3,-21.2C-59.8,-37.9,-29.9,-46.6,-3.6,-45.4C22.7,-44.3,45.4,-33.2,52.5,-14.2Z" fill="currentColor" transform="translate(100 100)"></path></svg>
          <span class="fs-4">My site</span>
        </a>
        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
          <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'homepage' %}">Главная страница</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'about' %}">Обо мне</a>
          <a class="me-3 py-2 text-dark text-decoration-none" href="{% url 'create' %}">Cоздать таску</a>
        </nav>
    </div>
<!-- Блок задач, тянется из БД -->
    <div class="container"> 
        {% block content %}{% endblock %}
    </div>

  </body>
</html>

